.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    margin: 10px 10px;
}

.search {
    display: flex;
    align-items: center;
    background-color:  rgb(5, 5, 113);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
  }
  
  .search .input {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    outline: none;
    padding-left: 5px;
  background-color: transparent;
    font-size: 1rem;
  }